body{
	overflow:hidden !important;
    background: #e8e8e8;
}
.logo {
    background-image: url("../images/logo_speakup.png");
    height: 30px;
    width: 60px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.modified-user {
    color:#FFF;
    background-color: darkorange;
    font-weight: bold;
    position:absolute;
    text-align:center;
    padding:5px 10px;
    border-radius:10px;
}

/* menu setting */
.menu-setting .setting {
    position: relative;
}
.menu-setting .setting:hover  .list-setting {
    display: block;
}
.menu-setting .setting .list-setting {
    position: absolute;
    top: 15px;
    border: 1px solid #686868;
    z-index: 99;
    right: -1px;
    background: #eeeeee;
    box-shadow: -2px 2px 5px #666666;
    display: none;
    width: 150px;
}
.menu-setting .setting .list-setting .row-setting a {
    font-size: 11px;
    color: #333333;
}
.menu-setting .setting .list-setting a:hover{
    color: #275cb3;
}



.listUserRender .row{
    padding: 10px;
    float: left;
    width: 162px;
    background: #eeeeee;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.listUserRender .row .fullName {
    font-size: 14px;
    color: #275cb3;
    padding: 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}
.listUserRender .row {
    border: 1px solid #CCCCCC;
    margin: 5px 10px 5px 0px;
    padding: 0px;
}
.listUserRender div.row:last-child{
    margin-right: 0px;
    background: #e14f1c;
}
.listUserRender .option {
    padding-left: 10px;
    padding-top: 3px;
}
.listUserRender .row input[type="checkbox"] {
    margin-right: 5px;
   float: left;
}
.listUserRender .titleName {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333333;
}
.loadNotification {
    color: #16970f;
    padding-right: 40px;
}
.listUserRender  .limitText {
    display: inline-block;
    width: 120px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}